Source: kmodpy
Maintainer: Nanakos Chrysostomos <nanakos@wired-net.gr>
Section: python
Priority: optional
X-Python-Version: >= 2.6
Build-Depends: python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 9)
Homepage: https://github.com/cnanakos/kmodpy
Standards-Version: 3.9.5
Vcs-Git: git://github.com/cnanakos/kmodpy.git -b debian
Vcs-Browser: https://github.com/cnanakos/kmodpy/tree/debian/debian

Package: python-kmodpy
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, libkmod2 (>=18-1)
Description: Python binding for kmod
 The libkmod2 is a library that provides an API for insertion, removal,
 configuration and listing of kernel modules.
 .
 kmodpy is a Python ctypes wrapper module for libkmod, exposing common module
 operations: listing installed modules, modprobe, modinfo, show_depends and
 rmmod.
